<div class="footer">
  <div class="footer-copyright">
    <p><strong>DISCLAIMER:</strong> We do not own the copy right of Pokémon, but if you like this website, <s>here is my bank account details</s> follow our github!  <i class="fas fa-heart"></i> </p>
  </div>

  <div class="footer-links">
    <a href="https://github.com/cjyl/rent-a-mon"><i class="fab fa-github"></i></a>
  </div>
</div>
