.banner {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("assets/images/background.png");
  // background-color: #0275BE;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  // justify-content: center;
}

.banner h1 {
  margin: 0;
  color: #FFCC02;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bolder;
  text-shadow: 6px 6px #0275BE;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
