.search-button {
  background-image: url('button_icon.png');
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-position: center;
  border: 4px solid black;
  flex-shrink: 0;
  position: absolute ;
  right: 0;

}

// .button-view-me a{
//   text-decoration: none !important;
//   color: white;
//   font-weight: bold;
//   &:hover {
//     cursor: url('cursor_icon.png'), pointer;
//   }
// }
