.search-button {
  background-image: url('button_icon.png');
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-position: center;
  border: 4px solid black;
  flex-shrink: 0;
  position: absolute ;
  right: 0;

}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  box-shadow: #FFCD00;
  padding: 8px 24px;
  border-radius: 25px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-ghost:hover {
  opacity: 1;
  color: #FFCD00;
  border: 1px solid #FFCD00;
  font-weight: bolder;
}
