.footer {
  background: #0275BE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  width: 100%;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.15;
  text-decoration: none;
  font-size: 36px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}
