.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1;
  height: 75px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.navbar-lewagon {
  position: sticky;
  top: 0;
}
