.card-profile {
  display: flex;
  flex-direction: column;
  height: 450px;
  max-width: 308px !important;
  padding: 24px !important;
  border: 1px solid #DDDDDD !important;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#user-card {
  display: flex;
  flex-direction: column;
  height: 600px;
  max-width: 308px !important;
  padding: 24px !important;
  border: 1px solid #DDDDDD !important;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  position: relative;
  top: -130px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile-img {
  width: 180px;;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.poke-profile-img {
  width: 28px;;
  height: 28px;
  object-fit: cover;
  border-radius: 50%
}

.poke-img {
  height: 240px;
  object-fit: cover;
}

.banner-profile {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.pokemon-edit {
  position: relative;
  top: -300px;
  right: -300px;
}

.pokemon-add {
  border-radius: 25px;
  padding: 8px 24px !important;
}

.booking-title {
  font-weight: bolder;
  font-size: 16px;
}

.review-booking-card {
  color: black;
  align-items: center;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 24px !important;
  border: 1px solid #DDDDDD !important;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 8px rgb(250,218,94)
}

#booking-click:hover {
  cursor: url('cursor_icon.png'), pointer;
  transform: scale(0.95 );
}
