.search-bar {
  margin: 0 auto;
  width: 50%;
  position: relative;

}
.search-input {
  border-radius: 50px;
  border: 4px solid black;
  font-size: 17px;
  height: 90px;
  border: 6px solid black;
}
