<%# Carly's Banner %>

<div class="container">
  <div class="row g-3">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%# <% @pokemons.each do |pokemom| %> <!-- Add this line back in when we're ready to iterate -->
        <div class="card" style="width: 100%;">
          <%= image_tag('pikachu.png') %>
          <div class="card-body">
            <h5 class="card-title">Pikachu</h5> <!-- Need to change to pokemon.name-->
            <p class="card-text">Location: London</p> <!-- Need to change to pokemon.location-->
            <p class="card-text">Type: Electric ⚡️</p> <!-- Need to change to pokemon.type-->
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
    <%# <% end %> <!-- Need to uncomment this line  -->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%# <% @pokemons.each do |pokemom| %> <!-- Add this line back in when we're ready to iterate -->
        <div class="card" style="width: 100%;">
          <%= image_tag('pikachu.png') %>
          <div class="card-body">
            <h5 class="card-title">Pikachu</h5> <!-- Need to change to pokemon.name-->
            <p class="card-text">Location: London</p> <!-- Need to change to pokemon.location-->
            <p class="card-text">Type: Electric ⚡️</p> <!-- Need to change to pokemon.type-->
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <%# <% @pokemons.each do |pokemom| %> <!-- Add this line back in when we're ready to iterate -->
        <div class="card" style="width: 100%;">
          <%= image_tag('pikachu.png') %>
          <div class="card-body">
            <h5 class="card-title">Pikachu</h5> <!-- Need to change to pokemon.name-->
            <p class="card-text">Location: London</p> <!-- Need to change to pokemon.location-->
            <p class="card-text">Type: Electric ⚡️</p> <!-- Need to change to pokemon.type-->
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <%# <% @pokemons.each do |pokemom| %> <!-- Add this line back in when we're ready to iterate -->
        <div class="card" style="width: 100%;">
          <%= image_tag('pikachu.png') %>
          <div class="card-body">
            <h5 class="card-title">Pikachu</h5> <!-- Need to change to pokemon.name-->
            <p class="card-text">Location: London</p> <!-- Need to change to pokemon.location-->
            <p class="card-text">Type: Electric ⚡️</p> <!-- Need to change to pokemon.type-->
            <a href="#" class="btn btn-primary">Click me</a>
          </div>
        </div>
      </div>
  </div>
</div>
