<div class="banner" style="background-image: url(<%= asset_path('background.png') %>);">
  <div class="container">
    <h1>Look for pokemons around you!</h1>

    <a class="btn btn-flat" href="#">Search now</a>
  </div>
</div>
